language: python

before_install:
  - echo "Start to test on $TRAVIS_OS_NAME";
  - sudo pip install pycodestyle
  - sudo pip install -I "onnx==1.3.0" "numpy==1.14.0" "six==1.11.0" "setuptools==18.5"

jobs:
  include:
    - stage: Check Code Style
      script:
        - echo 'Check Code Style'
        - pycodestyle $(find . -name "*.py") || exit 1;
      env: TYPE=Check-Code-Stype
      os: linux
      dist: xenial
      sudo: required
    - stage: Test Convertion
      script:
        - echo 'Test Convertion'
        - echo 'Testing converting nnet2 model librispeech'
        - wget https://cnbj1.fds.api.xiaomi.com/mace/kaldi-onnx/librispeech_final.mdl
        - python converter/convert.py --input=librispeech_final.mdl --chunk-size=20 --nnet-type=2
        - rm -rf librispeech_final.*
        - echo 'Testing converting nnet2 model sre16'
        - wget https://cnbj1.fds.api.xiaomi.com/mace/kaldi-onnx/sre_16.mdl
        - python converter/convert.py --input=sre_16.mdl --chunk-size=20 --nnet-type=3
        - rm -rf sre_16.*
        - echo 'Testing converting nnet2 model sre16'
        - wget https://cnbj1.fds.api.xiaomi.com/mace/kaldi-onnx/stats.mdl
        - python converter/convert.py --input=stats.mdl --chunk-size=20 --nnet-type=3
        - rm -rf stats.*
      env: Type=Test-Convertion
      os: linux
      dist: xenial
      sudo: required
